In [2]:
import os
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [47]:
#read in CSV files of data
pop_data = pd.read_csv('Data/Oregon_Population_Estimates_By_v002.csv')
fire_data = pd.read_csv('Data/fire-occurence.csv')

#look at index of data columns
fire_data.columns

Index(['Serial', 'FireCategory', 'FireYear', 'Area', 'DistrictName',
       'UnitName', 'FullFireNumber', 'FireName', 'Size_class', 'EstTotalAcres',
       'Protected_Acres', 'HumanOrLightning', 'CauseBy', 'GeneralCause',
       'SpecificCause', 'Cause_Comments', 'Lat_DD', 'Long_DD', 'LatLongDD',
       'FO_LandOwnType', 'Twn', 'Rng', 'Sec', 'Subdiv', 'LandmarkLocation',
       'County', 'RegUseZone', 'RegUseRestriction', 'Industrial_Restriction',
       'Ign_DateTime', 'ReportDateTime', 'Discover_DateTime',
       'Control_DateTime', 'CreationDate', 'ModifiedDate', 'DistrictCode',
       'UnitCode', 'DistFireNumber'],
      dtype='object')

In [48]:
#begin cleaning data of unneeded columns
fire_data.drop(fire_data.columns[[0, 1, 3, 5, 6, 7, 8, 10, 11, 12, 
                                  14, 15, 16, 17, 18, 19, 20, 21, 
                                  22, 23, 24, 26, 27, 28, 29, 30, 
                                  31, 32, 33, 34, 35, 36, 37]], axis=1, inplace=True)

fire_data

       FireYear          DistrictName  EstTotalAcres   GeneralCause     County
0          2000        Central Oregon           0.75      Lightning      Grant
1          2000      Northeast Oregon          80.00      Lightning      Union
2          2001      Southwest Oregon           0.10        Smoking    Jackson
3          2002           West Oregon           0.01     Recreation     Benton
4          2003           West Oregon           0.01      Lightning       Polk
...         ...                   ...            ...            ...        ...
23485      2021  Walker Range - WRFPA           0.75  Equipment Use    Klamath
23486      2022          Western Lane           0.01     Recreation       Lane
23487      2021      Northeast Oregon          67.43      Lightning   Umatilla
23488      2022      Northeast Oregon           0.10  Equipment Use   Umatilla
23489      2022        Central Oregon           0.01      Lightning  Jefferson

[23490 rows x 5 columns]

In [43]:
#remove unneeded columns from population data as well
pop_data.drop(pop_data.columns[[3,4]], axis=1, inplace=True)

pop_data

     Year    County  Population_Estimate
0    2010    BAKER                 16116
1    2011    BAKER                 16069
2    2012    BAKER                 16001
3    2013    BAKER                 16027
4    2014    BAKER                 16030
..    ...       ...                  ...
391  2016  YAMHILL                104143
392  2017  YAMHILL                105313
393  2018  YAMHILL                106390
394  2019  YAMHILL                106927
395  2020  YAMHILL                107664

[396 rows x 3 columns]